p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height:1.5;
}
body {
    background: #e9d8a61f;
    color: #005f73;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin:0;
}
h1 {
    color: #94d2bd;
    font-family: 'Amatic SC', cursive;
    font-size: 64px;
    font-weight: 400;
}
h2 {
    color: #da1e37;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
}
a {
    color: #fcfafaea;
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
}
a:hover{
  color: #4e5250e8;
  transition: background-color .5s;
}
.container {
  width: 1400px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
}
.card-white {
  background: white;
  padding: 30px;
  border: 2px solid #c22e2e15;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin: 20px;
  flex:1;
}

.card-white:hover {
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
	transition:.2s;
	transform:translateY(-10px);
}

.btn-primary {
  font-family: 'Amatic SC', cursive;
	background:#94d2bd;
	padding: 5px;
	color:white;
	border-radius:3px;
  width:fit-content;
  margin-left: 24px;
  text-align: center;
  height: fit-content;
}

.btn-primary:hover {
  color: #50cb947c;
  transition: background-color .5s;
}

li {
  display: inline-block;
  padding:3px;
  text-align: center;
}

.icon {
  font-size: 40px;
  color:#94d2bd;
}


/* BANNER */
#banner {
  background:white;
  padding:32px;
  display:flex;
}

#banner h1, #banner h2 {
  margin:0;
}

#banner img {
  margin-right:32px;
}

.display-flex {
  display:flex;
}

.align-items {
  align-items:center;
}

#bottom {
  padding:32px;
  text-align: center;
}
#banner p {
  padding-right:40px;
}

ul {
  padding:0;
}

@media (max-width: 960px) {
  @supports (display: flex) {
  /* For a screen < 960px, this CSS will be read */
  .container, #banner {
    width: 700px;
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container, #banner {
    width: 500px;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container, #banner {
    width: 300px;
    flex-direction: column;
  }
}
